<div>
  <p *ngFor="let entry of data" class="text" [ngClass]="{finished: entry.finished, active: entry.active && !entry.finished}">
  Found by: {{entry.robotId}}: Exploring: {{entry.exploredBy}} {{entry.machineName.rawMachineName | json}} | {{entry.machineZone}} | {{entry.orientation}}°
  </p>
</div>
